* {
  box-sizing: border-box;
  color: #47525e;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 16px;
}

.post-card_title-wrapper {
  height: 80px;
}

.container {
  max-width: 960px;
  margin: auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-wrapper {
  display: flex;
  justify-content: right;
  padding-right: 32px;
}

.button-icon {
  background-color: #fff;
  border: none;
  padding: 0;
}
